body {
    background-image:url(img/R.jfif);
    background-size: cover;
}

tbody {
    color: white;
}

.imagemfundo {
    background-image: url('img/killjoy.jfif');
    background-size: cover;
}

.imagemmodal {
    background-image: url('img/Reyna.jfif');
    background-size: cover;
}

@font-face {
    font-family: valorant;
    src: url(valorant.ttf);
}


* {
    font-family: valorant;
}

table tr td, table tr th{
    background-color: rgba(0,0,0, 0.5) !important;
}